<template>
  <modal 
    name="add-ingredient-modal" 
    class="add-ingredient-modal"
    adaptive
    height="auto">
    <div class="pa-5 ">
        <div class="">
            <p class="text-right  ma-0">
                <a href="javascript:void(0)" @click="$modal.hide('add-ingredient-modal')">
                    <v-icon>fa fa-times</v-icon>
                </a>
            </p>
        </div><br>
        
        <v-form class="ma-5" ref='form'>
            <v-text-field
                label="Name"
                v-model="form.name" 
                :rules="errors.name">
                <template #label>
                    <span class="red--text"><strong>* </strong></span>Name
                </template>
            </v-text-field>

            <v-text-field
                label="Measure" 
                v-model="form.measure"
                :rules="errors.measure">
                <template #label>
                    <span class="red--text"><strong>* </strong></span>Measure
                </template>
            </v-text-field>

            <v-text-field
                label="Supplier" 
                v-model="form.supplier"
                :rules="errors.supplier">
                <template #label>
                    <span class="red--text"><strong>* </strong></span>Supplier
                </template>
            </v-text-field>

            <div class="text-right">
                <v-btn
                    :loading="loading"
                    @click="create()"
                    tile
                    color="primary">
                    Submit
                </v-btn>
            </div>
        </v-form>
    </div>
  </modal>
</template>
<script>
import { mapState } from "vuex";
export default {
  data() {
        return {   
            form: {
                name: '',
                measure: '',
                supplier:''
            },
            errors: [],
            loading: false,
        };
    },
    methods: {
        create() {
            this.loading = true
            this.errors = []
            this.$store.dispatch('ingredients/store', this.form) 
            .then((response) => {
                this.loading = false
                this.$refs.form.reset()
            })
            .catch((error) => {
                this.loading = false
                this.errors = error
            })
        },
    },
    components: {
    }
}
</script>
