<template>
  <modal 
    name="edit-ingredient-modal" 
    class="edit-ingredient-modal"
    adaptive
    height="auto">
    <div class="pa-5 ">
        <div class="">
            <p class="text-right  ma-0">
                <a href="javascript:void(0)" @click="$modal.hide('edit-ingredient-modal')">
                    <v-icon>fa fa-times</v-icon>
                </a>
            </p>
        </div><br>
        
        <div class="ma-5">
            <v-text-field
                label="Name"
                v-model="data.name" 
                :rules="errors.name">
                <template #label>
                    <span class="red--text"><strong>* </strong></span>Name
                </template>
            </v-text-field>

            <v-text-field
                label="Measure" 
                v-model="data.measure"
                :rules="errors.measure">
                <template #label>
                    <span class="red--text"><strong>* </strong></span>Measure
                </template>
            </v-text-field>

            <v-text-field
                label="Supplier" 
                v-model="data.supplier"
                :rules="errors.supplier">
                <template #label>
                    <span class="red--text"><strong>* </strong></span>Supplier
                </template>
            </v-text-field>

            <div class="text-right">
                <v-btn
                    :loading="loading"
                    @click="update()"
                    tile
                    color="primary">
                    Submit
                </v-btn>
            </div>
        </div>
    </div>
  </modal>
</template>
<script>
import { mapState } from "vuex";
export default {
  data() {
        return {   
            loading: false,
            errors: [] 
        };
    },
    props: [
        'data'
    ],
    methods: {
        update() {
            this.errors = []
            this.$store.dispatch('ingredients/update', this.data) 
            .catch((error) => {
               this.errors = error
            })
        }
    },
    components: {
    }
}
</script>
