<template>
    <div class="ingredient-form">
        <div class="d-flex justify-space-between align-center ma-2 mt-5 ">
            <h5 class="subtitle-1 font-weight-bold ma-0">Ingredients</h5>
            <v-btn
                @click="addInput(false)"
                small
                outlined
                color="primary">
                <v-icon>mdi-plus</v-icon>
            </v-btn>
        </div>
        <div>
            <v-form
                ref="form"
                lazy-validation
            >
            <v-row v-for="(input, index) in inputs" :key="index">
                <v-col md="5" cols="12">
                    <v-select
                        @change="renderUnit($event,index)"
                        :items='ingredient_list'
                        item-text="name"
                        return-object
                        v-model="input.ingredient"
                        label="Ingredients"
                    >
                    <template #label>
                        <span class="red--text"><strong>* </strong></span>Ingredients
                    </template>
                    </v-select>
                </v-col>

                 <v-col md="4" cols="12">
                   <v-text-field 
                        @keydown="save()"
                        v-model="input.amount"
                        :rules="numberRules"
                        label="Amount">
                        <template #label>
                            <span class="red--text"><strong>* </strong></span>Amount
                        </template>
                    </v-text-field>
                </v-col>

                <v-col md="2" cols="12">
                    <v-text-field
                        v-model="input.unit"
                        disabled
                        label="Unit">
                    </v-text-field>
                </v-col>

                 <v-col class="d-flex align-center" 
                        md="1" cols="12" >
                    <v-btn
                        @click="removeInput(index   )"
                        fab
                        dark
                        x-small
                        color="error"
                        >
                    <v-icon dark>
                        mdi-close
                    </v-icon>
                    </v-btn>
                </v-col>
            </v-row>
            </v-form>
        </div>

    </div>
</template>
<script>
import { mapState } from "vuex";

export default {
    computed: {
        ...mapState("ingredients", ["ingredient_list"]),
    },
    data () {
      return {
            numberRules: [
                v =>
                Number.isInteger(Number(v)) || "The value must be an integer number",
                v => v > 0 || "The value must be greater than zero"
            ],
            inputs: [
                {
                    ingredient: '',
                    amount: '',
                    measure: '',
                }
            ],
      }
    },
    props: [
        'data'
    ],
    created(){
        this.data ? this.renderIngredients() : ''
        this.$store.dispatch('ingredients/getList') 
    },
    methods: {
        renderIngredients(){
            let _this = this
            this.inputs = [];
            this.data.forEach(function (item) {
                _this.addInput(item)
            });
        },
        addInput(data){
            this.inputs.push({
                ingredient: data ? data : '',
                amount: data ? data.pivot.amount : '',
                unit: data ? data.measure : '',
            })
        },
        removeInput(index) {
            this.inputs.splice(index, 1);   
            this.save()
        },
        renderUnit(data,index){
            this.inputs[index].amount = ''
            this.inputs[index].unit = data.measure 
        },
        save(){
            this.$emit('selectedIngredient', this.inputs)
        }
    },
    components: {
    }
}
</script>
