<template>
  <modal 
    name="add-recipe-modal" 
    class="recipe-modal"
    adaptive
    width="1000"
    height="auto">
    <div class="pa-5 ">
        <div class="">
            <p class="text-right  ma-0">
                <a href="javascript:void(0)" @click="$modal.hide('add-recipe-modal')">
                    <v-icon>fa fa-times</v-icon>
                </a>
            </p>
        </div><br>
        
        <v-form class="ma-5" ref="form">
            <v-text-field
                label="Name"
                v-model="form.name"
                :rules="errors.name">
                <template #label>
                    <span class="red--text"><strong>* </strong></span>Name
                </template>
            </v-text-field>

            <v-textarea
                :rules="errors.description"
                label="Description"
                rows="3"
                v-model="form.description">
                <template #label>
                    <span class="red--text"><strong>*</strong></span>Description
                </template>
            </v-textarea>

            <add-ingredient @selectedIngredient="selectedIngredient"/>

            <div class="text-right">
                <v-btn
                    :loading="loading"
                    @click="create()"
                    tile
                    color="primary">
                    Submit
                </v-btn>
            </div>
        </v-form>
    </div>
  </modal>
</template>
<script>
import AddIngredient from './AddIngredient';

export default {
  data() {
        return {   
            form: {
                name: '',
                description:'',
            },
            errors: [],
            loading: false,
        };
    },
    methods: {
        create() {
            this.loading = true
            this.errors = []
            this.$store.dispatch('recipes/store', this.form) 
            .then((response) => {
                this.loading = false
                this.$refs.form.reset()
            })
            .catch((error) => {
                this.loading = false
                this.errors = error
                console.log(this.errors);
            })
        },
        selectedIngredient(data){
            this.form['ingredients'] = data
            this.form['isIngChange'] = true
        }
    },
    components: {
        AddIngredient
    }
}
</script>
