<template>
  <modal 
    name="edit-recipe-modal" 
    class="recipe-modal"
    adaptive
    width="1000"
    height="auto">
    <div class="pa-5 ">
        <div class="">
            <p class="text-right  ma-0">
                <a href="javascript:void(0)" @click="$modal.hide('edit-recipe-modal')">
                    <v-icon>fa fa-times</v-icon>
                </a>
            </p>
        </div><br>
        
        <div class="ma-5">
            <v-text-field
                label="Name"
                v-model="data.name" 
                :rules="errors.name">
                <template #label>
                    <span class="red--text"><strong>* </strong></span>Name
                </template>
            </v-text-field>

            <v-textarea
                :rules="errors.description"
                label="Description"
                rows="3"
                v-model="data.description">
                <template #label>
                    <span class="red--text"><strong>*</strong></span>Description
                </template>
            </v-textarea>

            <add-ingredient 
                :data="ingredients"
                @selectedIngredient="selectedIngredient"/>

            <div class="text-right">
                <v-btn
                    :loading="loading"
                    @click="update()"
                    tile
                    color="primary">
                    Submit
                </v-btn>
            </div>
        </div>
    </div>
  </modal>
</template>
<script>
import { mapState } from "vuex";
import AddIngredient from './AddIngredient';

export default {
  data() {
        return {   
            loading: false,
            errors: [],
            ingredients:{},
            isIngChange: false,
        };
    },
    props: [
        'data'
    ],
    watch: {
        data(){
            this.ingredients = this.data.ingredients
        }
    },
    
    methods: {
        update() {
            this.errors = []
            this.$store.dispatch('recipes/update', this.data) 
            .catch((error) => {
               this.errors = error
            })
        },
        selectedIngredient(data){
            this.data.isIngChange = true
            this.data.ingredients = data;
        }
    },
    components: {
        AddIngredient
    }
}
</script>
