@import '~vuetify/dist/vuetify.min.css';
@import "helpers/variables";
@import "helpers/function";
@import "helpers/global";
@import "layouts/sidebar";
@import "components/inputs";

.recipe-modal {
    .vm--modal {
        overflow-y:  auto !important;
    }
}

.box-container {
    display: flex;
    @media (max-width: 1024px) {
       flex-direction: column-reverse;
    }
    .box-table{
        width: 80%;
        @media (max-width: 1024px) {
            width: 100%;
         }
    }
    .box-option {
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        @media (max-width: 1024px) {
            width: 100%;
            margin: 0 0.1rem;
         }
    }
}

.text-ellipsis {
    width: 50vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} 