

/* ====================================
    I. Default-input
=======================================*/

.default-input-group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
  }
  
  .default-input-field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid color(secondary);
    outline: 0;
    font-size: 16px;
    color: #000;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  
    &::placeholder {
      color: transparent;
    }
  
    &:placeholder-shown ~ .default-input-label {
      font-size: 16px;
      cursor: text;
      top: 25px;
    }
  }
  
  .default-input-label {
    position: absolute;
    top: -4px;
    display: block;
    transition: 0.2s;
    font-size: 16px;
    color: color(secondary);
  }
  
  .default-input-field:focus {
    ~ .default-input-label {
      position: absolute;
      top: 1px;
      display: block;
      transition: 0.2s;
      font-size: 12px;
      color: color(primary);
      font-weight:700;    
    }
    padding-bottom: 6px;  
    font-weight: 600;
    border-width: 2px;
    border-image-slice: 1;
  }
  /* reset input */
  .default-input-field{
    &:required,&:invalid { box-shadow:none; }
  }
  