<template>
    <div class="box-container">
        <div class="box-table">
            <v-data-table
                :headers="headers"
                :items="box_list"
                class="elevation-1">
                <template v-slot:item.action="{ item }">
                    <v-btn
                        @click="renderEdit(item)"
                        class="mx-2"
                        fab
                        dark
                        x-small
                        color="primary"
                        >
                        <v-icon dark>
                            mdi-pencil
                        </v-icon>
                    </v-btn>
                    <v-btn
                        @click="renderRemove(item)"
                        class="mx-2"
                        fab
                        dark
                        x-small
                        color="error"
                        >
                        <v-icon dark>
                            mdi-close
                        </v-icon>
                    </v-btn>
                </template>
            </v-data-table>
        </div>
       
        <div class="box-option mb-10">
            <v-btn
            class="mb-5"
            @click="$modal.show('add-box-modal')"
            tile
            color="primary">
            <v-icon left>
                mdi-plus
            </v-icon>
                Add
            </v-btn>

            <h5 class="body-1">Filter Date Range</h5>
            <v-date-picker
                v-model="date_range"
                range
            ></v-date-picker>
        </div>
        <add-modal/>
        <edit-modal :data="editData"/>
    </div>
</template>
<script>
import { mapState } from "vuex";
import AddModal from '../components/boxes/AddModal';
import EditModal from '../components/boxes/EditModal';

export default {
    computed: {
        ...mapState("boxes", ["box_list"]),
    },
    data () {
      return {
        date_range: [],
        editData: {},
        headers: [
          { text: 'Delivery Date', value: 'delivery_date' },
          { text: 'Action', value: 'action' },
        ],
      }
    },
    watch: {
        date_range(){
           this.renderTable()
        }
    },
    created(){
        this.renderTable()
    },
    methods: {
        renderEdit(item){
            this.editData = item
            this.$modal.show('edit-box-modal')
        },
        renderRemove(item){
            this.$store.dispatch('boxes/destroy', item) 
        },
        renderTable(){
            this.$store.dispatch('boxes/getList', this.date_range) 
        }
    },
    components: {
        AddModal,
        EditModal
    }
}
</script>
