<template>
    <v-app>
        <side-bar/>
        <v-main class="mx-sm-16 mx-5 my-16">
            <router-view/>
        </v-main>
    </v-app>
</template>

<script>
import SideBar from '../layouts/SideBar';

export default {
    components: {
        SideBar
    }
}
</script>
