<template>
    <div>
        <div class="d-flex">
          <div class="default-input-group field form-group">
            <datetime class="default-input-field" v-model="date_time" type='date'></datetime>
            <label for="name" class="default-input-label">
            <span class="text-danger">*</span> Delivery Date</label>
          </div>
          <div>
            <v-btn color="primary" @click="$modal.show('box-list-modal')">
              Order List
            </v-btn>
          </div>
        </div>
        
        <v-data-table
            :items='order_ingredients'
            :headers="headers"
            class="elevation-1">
        </v-data-table>
        <box-list-modal :data="order_recipes"/>
    </div>
</template>
<script>
import Vue from 'vue'
import { mapState } from "vuex";
import moment from 'moment'
Vue.use(require('vue-moment'));

import BoxListModal from '../components/orders/BoxListModal';

export default {
    computed: {
        ...mapState("ingredients", [
                    "order_ingredients",
                    "order_recipes",
                  ]),
    },
    data () {
      return {
        date_time: '',
        order_date: '',
        headers: [
          { text: 'Name', value: 'name' },
          { text: 'Total Amount', value: 'total_amount' },
          { text: 'Measure', value: 'measure' },
          { text: 'Supplier', value: 'supplier' },
        ],
      }
    },
    watch: {
      date_time(){
        this.renderOrder()
      }
    },
    created(){
        var date =  moment().format('YYYY-MM-DDTHH:mmZ');
        this.date_time = date
    },
    methods: {
        renderOrder(){
          this.convertDateTime()
          this.$store.dispatch('ingredients/orderFilter', this.order_date) 
        },
        convertDateTime() {
            var time =  moment(this.date_time).format('HH:mm:ss');
            var date =  moment(this.date_time).format('YYYY-MM-DD');
            this.order_date = date + ' ' + time;
        },
    },
    components: {
      BoxListModal
    }
}
</script>
