<template>
    <div>
        <div class="text-right mb-10">
            <v-btn
            @click="$modal.show('add-recipe-modal')"
            tile
            color="primary">
            <v-icon left>
                mdi-plus
            </v-icon>
                Add
            </v-btn>
        </div>
        <v-data-table
            :headers="headers"
            :items="recipe_list"
            class="elevation-1">
             <template v-slot:item.description="{ item }">
                 <p class="text-ellipsis">{{item.description}}</p>
            </template>
            <template v-slot:item.action="{ item }">
                 <v-btn
                    @click="renderEdit(item)"
                    class="mx-2"
                    fab
                    dark
                    x-small
                    color="primary"
                    >
                    <v-icon dark>
                        mdi-pencil
                    </v-icon>
                </v-btn>
                 <v-btn
                    @click="renderRemove(item)"
                    class="mx-2"
                    fab
                    dark
                    x-small
                    color="error"
                    >
                    <v-icon dark>
                        mdi-close
                    </v-icon>
                </v-btn>
            </template>
        </v-data-table>
        <add-modal/>
        <edit-modal :data="editData"/>
    </div>
</template>
<script>
import { mapState } from "vuex";
import AddModal from '../components/recipes/AddModal';
import EditModal from '../components/recipes/EditModal';

export default {
    computed: {
        ...mapState("recipes", ["recipe_list"]),
    },
    data () {
      return {
        editData: {},
        headers: [
          { text: 'Name', value: 'name' },
          { text: 'Description', value: 'description' },
          { text: 'Action', value: 'action' },
        ],
      }
    },
    created(){
        this.$store.dispatch('recipes/getList') 
    },
    methods: {
        renderEdit(item){
            this.editData = item
            this.$modal.show('edit-recipe-modal')
        },
        renderRemove(item){
            this.$store.dispatch('recipes/destroy', item) 
        }
    },
    components: {
        AddModal,
        EditModal
    }
}
</script>
