<template>
  <modal 
    name="box-list-modal" 
    class="box-list-modal"
    adaptive
    height="auto">
    <div class="pa-5 ">
        <div class="">
            <p class="text-right  ma-0">
                <a href="javascript:void(0)" @click="$modal.hide('box-list-modal')">
                    <v-icon>fa fa-times</v-icon>
                </a>
            </p>
        </div><br>
        <div>
           <v-data-table
           :items="data"
            :headers="headers"
            class="elevation-1">
                <template v-slot:item.order_no="{ item }">
                    <p>{{item.boxes.length}}</p>
                </template>
            </v-data-table>
        </div>
    </div>
  </modal>
</template>
<script>
export default {
    data() {
        return {  
            headers: [
            { text: 'Name',value:'name'},
            { text: 'Total Order',value:'order_no'},
            ], 
        };
    },
    props: [
        'data'
    ],
    watch: {
    }
}
</script>
