<template>
  <modal 
    name="add-box-modal" 
    class="add-box-modal"
    adaptive
    height="auto">
    <div class="pa-5 ">
        <div class="">
            <p class="text-right  ma-0">
                <a href="javascript:void(0)" @click="$modal.hide('add-box-modal')">
                    <v-icon>fa fa-times</v-icon>
                </a>
            </p>
        </div><br>
        
        <v-form class="ma-5" ref="form">
            <div class="default-input-group field form-group">
                <datetime class="default-input-field" v-model="date_time" type='date'></datetime>
                <label for="name" class="default-input-label"><span class="text-danger">*</span> Delivery Date</label>
                <p class="caption mt-1 error--text">{{errors.delivery_date ? errors.delivery_date[0] : ''}}</p>
            </div>
             <v-select
                :items="recipe_list"
                item-text="name"
                item-value="id"
                label="Recipes"
                :rules="errors.recipes"
                chips
                multiple
                v-model="form.recipes">
            </v-select>

            <div class="text-right">
                <v-btn
                    :loading="loading"
                    @click="create()"
                    tile
                    color="primary">
                    Submit
                </v-btn>
            </div>
        </v-form>
    </div>
  </modal>
</template>
<script>
import Vue from 'vue'
import { mapState } from "vuex";
import moment from 'moment'
Vue.use(require('vue-moment'));

export default {
     computed: {
        ...mapState("recipes", ["recipe_list"]),
    },
    data() {
        return {   
            form: {
                delivery_date: '',
                recipes: [],
            },
            errors: [], 
            loading: false,
            date_time: '',
        };
    },
    watch: {
        'form.recipes':  {
            handler: function (after, before) {
                this.LimitValition()
            },
            deep: true
        },

    },
    created() {
        var date =  moment().format('YYYY-MM-DDTHH:mmZ');
        this.date_time = date
        this.$store.dispatch('recipes/getList') 
    },
    methods: {
        LimitValition() {
            let _this = this
            if(this.form.recipes.length > 4) {
                this.form.recipes.pop()
                this.$store.dispatch('notification/errorNotif', 'Maximum of 4 Recipes Only'); 
            }
        },
        create() {
            this.loading = true
            this.convertDateTime()
            this.errors = []
            this.$store.dispatch('boxes/store', this.form) 
            .then((response) => {
                this.loading = false
                this.$refs.form.reset()
            })
            .catch((error) => {
                this.loading = false
                this.errors = error
            })
        },
        convertDateTime() {
            var time =  moment(this.date_time).format('HH:mm:ss');
            var date =  moment(this.date_time).format('YYYY-MM-DD');
            this.form.delivery_date = date + ' ' + time;
        },
    },
    components: {
    }
}
</script>
