<template>
  <modal 
    name="edit-box-modal" 
    class="edit-box-modal"
    adaptive
    height="auto">
    <div class="pa-5 ">
        <div class="">
            <p class="text-right  ma-0">
                <a href="javascript:void(0)" @click="$modal.hide('edit-box-modal')">
                    <v-icon>fa fa-times</v-icon>
                </a>
            </p>
        </div><br>
        
        <v-form class="ma-5" ref="form">
            <div class="default-input-group field form-group">
                <datetime class="default-input-field" v-model="date_time" type='date'></datetime>
                <label for="name" class="default-input-label"><span class="text-danger">*</span> Delivery Date</label>
                <p class="caption mt-1 error--text">{{errors.delivery_date ? errors.delivery_date[0] : ''}}</p>
            </div>
             <v-select
                :items="recipe_list"
                item-text="name"
                item-value="id"
                label="Recipes"
                :rules="errors.recipes"
                chips
                multiple
                v-model="data.recipes">
            </v-select>


            <div class="text-right">
                <v-btn
                    :loading="loading"
                    @click="update()"
                    tile
                    color="primary">
                    Submit
                </v-btn>
            </div>
        </v-form>
    </div>
  </modal>
</template>
<script>
import Vue from 'vue'
import { mapState } from "vuex";
import moment from 'moment'
Vue.use(require('vue-moment'));

export default {
    computed: {
        ...mapState("recipes", ["recipe_list"]),
    },
    data() {
        return {   
            loading: false,
            errors: [],
            date_time: '',

        };
    },
    props: [
        'data'
    ],
     watch: {
        'data.recipes':  {
            handler: function (after, before) {
                this.LimitValition()
            },
            deep: true
        },
        data(){
            var date =  moment(this.data.delivery_date)
                        .format('YYYY-MM-DDTHH:mmZ');
            this.date_time = date
            console.log(this.data);
        }
    },
    methods: {
        LimitValition() {
            let _this = this
            if(this.data.recipes.length > 4) {
                this.data.recipes.pop()
                this.$store.dispatch('notification/errorNotif', 'Maximum of 4 Recipes Only'); 
            }
        },
        update() {
            this.convertDateTime()
            this.errors = []
            this.$store.dispatch('boxes/update', this.data) 
            .catch((error) => {
               this.errors = error
            })
        },
        convertDateTime() {
            var time =  moment(this.date_time).format('HH:mm:ss');
            var date =  moment(this.date_time).format('YYYY-MM-DD');
            this.data.delivery_date = date + ' ' + time;
        },
    },
    components: {
    }
}
</script>
