
.v-sidebar-menu{
    &:hover{
        background-color: color(darkest);
    }
}
.v-side-menu-group {
    .active {
        .v-sidebar-menu {
            background-color: color(darkest);
            i{
                color:color(primary) !important;     
            }
            .v-list-item__title{
            color:color(primary)  !important;    
            font-weight: 600; 
            }
        }
    }
    
}
