<template>
  <div class="text-center">
        <v-img
        :src="asset('images/not-found.png')" 
        class="not-found__img mx-auto my-5"
        ></v-img>
  </div>
</template>
<style lang="scss">
    .not-found {
        &__img {
            width: 50%;
            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }
</style>