<template>
  <nav>

       <v-navigation-drawer
            app
            clipped
            v-model="drawer"
            class="grey darken-3 "
            :style="`margin-top: ${drawer_top}px`"
            :permanent="$vuetify.breakpoint.mdAndUp">
            
            <v-list flat>
                <v-list-item-group
                    class="v-side-menu-group"
                    data-active="true">
                    <router-link 
                        v-for="(menu, index) in menus" 
                        :key="index" 
                        :to="{name: menu.to}">
                        <v-list-item class="v-sidebar-menu">
                            <v-list-item-icon>
                                <v-icon class="grey--text lighten-2">
                                    {{ menu.icon }}
                                </v-icon>
                            </v-list-item-icon>

                            <v-list-item-content>
                                <v-list-item-title class="grey--text lighten-2">
                                    <h5> {{ menu.name }} </h5>
                                </v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </router-link>
                </v-list-item-group>
            </v-list>
        </v-navigation-drawer>

         <v-app-bar 
            app 
            clipped-left 
            fixed 
            flat
            height="60"
            color="grey darken-4 grey--text text--lighten-2" >

            <v-app-bar-nav-icon 
                dark 
                @click.stop="drawer = !drawer" 
                class="hidden-md-and-up"
            />
          <h3 class="font-weight-light ma-0">Logo Here</h3>

            <v-spacer/>

            <v-menu
                transition="slide-y-transition"
                bottom >

                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                        class="transparent"
                        dark
                        v-bind="attrs"
                        v-on="on"
                        fab >
                        <v-avatar>
                            <img :src="logo" alt="Profile Image">
                        </v-avatar>
                    </v-btn>
                </template>

                <v-list class="pa-5">
                    <v-flex class="d-flex justify-center">
                        <v-avatar>
                            <img :src="logo" alt="Profile Image">
                        </v-avatar>
                        <p class="subtitle-1 text-center font-weight-black ma-3">
                            Hello! Admin
                        </p>
                    </v-flex>

                    <v-divider/>

                    <v-list-item-group color="primary">
                        <v-list-item>
                            <v-list-item-icon>
                                <v-icon>fa fa-sign-out</v-icon>
                            </v-list-item-icon>

                            <v-list-item-content>
                                <v-list-item-title>Logout</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list-item-group>
                </v-list>

            </v-menu>
        </v-app-bar>

    </nav>
</template>

<script>
export default {
     data() {
        return {
            dropdown_icon: 'fa fa-caret-down',
            drawer: null,
            drawer_top: 0,
            logo: this.$parent.asset('images/logo.png'),
            menus:[
                {
                    name: 'Order',
                    icon: 'fa fa-truck',
                    to: 'orders',
                },
                {
                    name: 'Boxes',
                    icon: 'mdi-dropbox',
                    to: 'boxes',
                },   
                {
                    name: 'Recipes',
                    icon: 'fa fa-cutlery',
                    to: 'recipes',
                },
                {
                    name: 'Ingredients',
                    icon: 'mdi-food-variant',
                    to: 'ingredients',
                },   
            ]
        }
    }
}
</script>